 <div class="container">

        <div class="row">

            <div class="col-md-3">
                
                <div class="list-group">
                    <a href="#" class="list-group-item">Helmets</a>
                    <a href="#" class="list-group-item">Race Suits</a>
                    <a href="#" class="list-group-item">Boots</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">
                        
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" <%= image_tag("slide1.jpg", :alt => "") %>
                                </div>
                                <div class="item">
                                    <img class="slide-image" <%= image_tag("slide2.jpg", :alt => "") %>
                                </div>
                                <div class="item">
                                    <img class="slide-image" <%= image_tag("slide3.jpg", :alt => "") %>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img <%= image_tag("hjc.jpg", :alt => "") %>
                            <div class="caption">
                                <% if logged_in? %>
                                <h4 class="pull-right">$499.99</h4>
                                <h4><a href="#">HJC IS 17</a>
                                <% else %>
                            <li><%= link_to "Log in", login_path %></li>
                            <% end %>
                                </h4>
                                <p>HJC IS 17 , Used by world famous GP rider Jorge Lorenzo </a>.</p>
                            </div>
                            <div class="ratings">
                            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Add to Cart</a>
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img <%= image_tag("icon2.jpg", :alt => "") %>
                            <div class="caption">
                                <h4 class="pull-right">$599.99</h4>
                                <h4><a href="#">Icon Airmada 2 Madness 
                                </h4>
                                <p>Latest of the Icon Helmets Range , The Airmada is for serious riders</p>
                            </div>
                            <div class="ratings">
                            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Add to Cart</a>
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img <%= image_tag("suit1.jpg", :alt => "") %>
                            <div class="caption">
                                <h4 class="pull-right">$74.99</h4>
                                <h4><a href="#">Daineese SP2 Full Race Suit </a>
                                </h4>
                                <p>Daineese are know for quality PPE. This suit fits that standard</p>
                            </div>
                            <div class="ratings">
                                <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Add to Cart</a>
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img <%= image_tag("suit2.jpg", :alt => "") %>
                            <div class="caption">
                                <h4 class="pull-right">$84.99</h4>
                                <h4><a href="#">AlpineStar Faster WP2 </a>
                                </h4>
                                <p>When someone said you can't beat Alpinestar they were right. This provides highest level of protiection</p>
                            </div>
                            <div class="ratings">
                            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Add to Cart</a>
                                
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img <%= image_tag("boot1.jpg", :alt => "") %>
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Cortech Latigo Air RR Boots</a>
                                </h4>
                                <p> Vented Mycro Tech upper ,Air-Mesh breathable lining,Vented contour TPU heel protection</p>
                            </div>
                            <div class="ratings">
                            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Add to Cart</a>
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img <%= image_tag("boot2.jpg", :alt => "") %>
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4><a href="#">Dainese Torque RS Out Air Boots</a>
                                </h4>
                                <p>All Around leathers plus extreme ventialtion . These boots are at a bargain price</p>
                            </div>
                            <div class="ratings">
                            <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Add to Cart</a>
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>